{% extends "encabezado.html" %}
{% load static %}
{% block contenido %}
                           

<div class="contentabla">
    <button onclick="addfila()">+ add fila</button>
    <button onclick="deletfila()">- delete fila</button><br>     
    <form action="" method="post">{% csrf_token %}
    <table id="tablaCotizacion">
        <tr>
            <th>DESCRIPCION</th>
            <th>CANTIDAD</th>
            <th>COSTO UNIT</th>
            <th>SUBTOTAL</th>
        </tr>                
        <tr>
                <td><input name="descrip1" type="text"></td>
                <td><input name="cant1" class="cantidad" type="text" onchange="calculototal()" ></td>
                <td><input name="costoUnit1" class="costounit" type="number" onchange="calcularSubtotal()" ></td>
                <td><input class="subtotal" step="0.001" type="number" onchange="calcularcostounit()" > </td>
        </tr>          
        
    </table>
    <strong>TOTAL A PAGAR:</strong>
    <span class="total">0</span><span>Bs.</span>          
</div>
<div class="contentabla">
    <table>
        <tr>
            <th>ORIGEN DE FONDO</th>
            <th>MONTO DISP</th>
            <th>OPERACION</th>
        </tr>
        {% for c in cuenta %}
        <tr>

            <td>{{c.banco}}</td>
            <td>{{c.capital}}</td>
            <td><button type="submit">REGISTRAR PAGO</button></td>
        </tr>
        {% endfor %}
    </table>
</div>    
</form>    
{% endblock  %}