{% extends "encabezado.html" %}
{% load static %}
{% block contenido %}
<div class="contentabla">
<form action="" method="post">
    <table id="tablaCotizacion">
        <tr>
            <th>DESCRIPCION</th>
            <th>CANTIDAD</th>
            <th>COSTO UNIT</th>
            <th>SUBTOTAL</th>
        </tr>                
        <tr>
                <td><input name="descrip1" type="text"></td>
                <td><input name="cant1" class="cantidad" type="text" onchange="calculototal()" ></td>
                <td><input name="costoUnit1" class="costounit" type="number" onchange="calcularSubtotal()" ></td>
                <td><input class="subtotal" step="0.001" type="number" onchange="calcularcostounit()" > </td>
        </tr>          
        
    </table>
    <strong>TOTAL A PAGAR:</strong>
    <span class="total">0</span><span>Bs.</span>    <span><button type="submit">PAGAR</button></span>  
    </form>      
<button onclick="addfila()">+ add fila</button>
<button onclick="deletfila()">- delete fila</button><br>                                

</div>    
    
{% endblock  %}