
<div id="mySidebar" class="sidebar">
<ul class="navul">
    <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a></li>
    <li class="navli"><a class="nava" href="/">registro</a></li>
    <li class="navli"><a class="nava" href="cuentas">cuentas</a></li>
    <li class="navli"><a class="nava" href="/compra">PAGOS</a></li>
    <li class="navli"><a class="nava" href="/operaciones"> Lista de operaciones</a></li>
    <li class="navli"><a class="nava" href="/compraEfectivo">COMPRAS EFECTIVO</a></li>
</ul>
</div>
<div id="main">
    <button class="openbtn" onclick="openNav()">&#9776; Opciones</button>
  </div>