h1{
    color:red;
    margin-left:40% ;
    font-family: 'Roboto';
}
table{
    
    margin: 25%;
    border-collapse: collapse;
    margin-top: 0px;
    background: rgb(37,73,199);
    background: linear-gradient(90deg, rgba(37,73,199,1) 100%, rgba(100,100,185,1) 100%);
    
    border: solid 1px;

}
th,td{
    padding: 0px 10px;
    border: solid 1px;
    color:white;
    margin: 0px;
   
}
@font-face {
    font-family: 'Roboto';
    src: url('/static/fuentes/Roboto/Roboto-BlackItalic.ttf') format('');
  }
body{
    background: rgb(55,60,77);
    background: linear-gradient(90deg, rgba(55,60,77,1) 100%, rgba(100,100,185,1) 100%); 
}
.navli{
    display:inline;
    margin: 0px 20px;
    background-color: aqua;
    padding: 0px 20px;
    border-radius: 5px;
    
}
.navul{
    background-color: blueviolet;
    padding: 20px;
    margin-top: 0px;
}
.nava{
    color: white;
    text-decoration:none;
}
.reginput{
    margin: 20px;
}
.regul{
    list-style: none;
}

a.btntabla{
    text-decoration:none;
}