{% extends "encabezado.html" %}
{% block contenido %}
<div class='contentabla'>
    <table>
        <thead>
        <tr>
            <th>Nro</th>
            <th>DESCRIPCION</th>
            <th>CANTIDAD</th>
            <th>COSTO/U</th>
            <th>TOTAL</th>
            <th>EFECT DISP</th>    
            <th>PAGO</th>
            <th>SALDO DISP</th>
            <th>OBSERVACION</th>
            <th>FECHA</th>
            <th>TAREAS</th>
        </tr>
    </thead>
    <tbody>
            {% for c in compras %}
            <tr>
            <td data-label="Nro">{{forloop.counter}}</td>
            <td data-label="DESCRIPCION">{{c.descripcion}}</td>
            <td data-label="CANTIDAD">{{c.cantidad}}</td>
            <td data-label="COSTO/U">{{c.precio_unitario}}</td>
            <td data-label="TOTAL">{{c.subtotal}}</td>
            <td data-label="EFECT DISP">{{c.capital}}</td>
            <td data-label="PAGO">{{c.retiro}}</td>
            <td data-label="SALDO DISP">{{c.chequera}}</td>
            <td data-label="OBSERVACION">{{c.descripcion}}</td>
            <td data-label="FECHA">{{c.fecha}}</td>
            <td data-label="TAREAS">
               <button><a class="btntabla" href="eliminarEfec/{{c.id_bill}}">🗑️{{t.id_bill}}</a></button>
               <button><a class="btntabla" href="editaOperacion/{{c.id_t}}">🖊️</a></button>
            </td>
            </tr>
        </form>
            {% endfor %}
        </tbody>
    </table>
 
</div>
{% endblock  %}