{% extends "encabezado.html" %}
{% block contenido %}
<div class='contentabla'>
    <table>
        <tr>
            <th>Nro</th>
            <th>BANCO</th>
            <th>CAPITAL INICIAL</th>
            <th>TIPO</th>
            <th>INTERES</th>
            <th>RETIROS</th>
            <th>ABONOS</th>
            <th>SALDO ACTUAL</th>
            <th>MONTO A OPERAR</th>
            <th>ACCIONES</th>
        </tr>
            {% for cta in cuentas %}
            <tr> 
            <td>{{forloop.counter}}</td>
            <td>{{cta.banco}}</td>
            <td>{{cta.capini}}</td>
            <td>{{cta.tipo}}</td>
            <td>{{cta.interes}}</td>
            <td>{{cta.retiros}}</td>
            <td>{{cta.abonos}}</td>
            <td>{{cta.capital}}</td>          
            <td><input type="number" id="monto" name="num" value="0"></td>
            <td><button><a onclick="obtenermonto({{cta.id_c}})" href="">retirar</a></button></td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock  %}