{% extends "encabezado.html" %}
{% block contenido %}
<div class='contentabla' >
    <table>
        <thead>
        <tr>
            <th>Nro</th>
            <th>BANCO</th>
            <th>CAPITAL</th>
            <th>TIPO</th>
            <th>INTERES</th>
            <th>RETIROS</th>
            <th>ABONOS</th>
            <th>SALDO ACTUAL</th>
            <th>MONTO A OPERAR</th>
            <th>DESCRIPCION</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
            {% for cta in cuentas %}
            <tr>
            <form class="formulario" action="{{cta.id_c}}" method="post"> {% csrf_token %}
            <td data-label="Nro">{{forloop.counter}}</td>
            <td data-label="BANCO">{{cta.banco}}</td>
            <td data-label="CAPITAL">{{cta.capini}}</td>
            <td data-label="TIPO">{{cta.tipo}}</td>
            <td data-label="INTERES">{{cta.interes}}</td>
            <td data-label="RETIROS">{{cta.retiros}}</td>
            <td data-label="ABONOS">{{cta.abonos}}</td>
            <td data-label="SALDO ACTUAL">{{cta.capital}}</td>
            <td data-label="MONTO A OPERAR"><input type="number" name="num"></td>
            <td data-label="DESCRIPCION"><input type="text" name="descrip" id=""></td>
            <td data-label="ACCIONES">
                <input class="btntabla" onclick="modificarform()" type="submit" value="MODIFICAR">
                <input class="btntabla" onclick="eliminarform()" type="submit" value="ELIMINAR">
                <input class="btntabla" onclick="abonoform()" type="submit" value="ABONAR">
                <input class="btntabla" onclick="retiroform()"  type="submit" value="RETIRAR">
                <input class="btntabla" onclick="transferirform()" type="submit" value="TRANSFERIR">
                
            </td>
            </tr>
        </form>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock  %}