{% extends "encabezado.html" %}
{% block contenido %}
<div class='contentabla'>
    <table>
        <thead>
        <tr>
            <th>Nro</th>
            <th>ORIGEN CAPITAL</th>    
            <th>CAPITAL</th>
            <th>RETIRO</th>
            <th>ABONO</th>
            <th>ESTADO CAPITAL</th>
            <th>DETALLE</th>
            <th>FECHA</th>
            <th>TAREAS</th>
        </tr>
    </thead>
    <tbody>
            {% for t in transacciones %}
            <tr>
            <td data-label="Nro">{{forloop.counter}}</td>
            <td data-label="ORIGEN CAPITAL">{{t.origen}}</td>
            <td data-label="CAPITAL">
                {% if t.capital %}
                {{t.capital}}
                {% else %}
                {{t.id_c.capital}}
                {% endif %}
            </td>
            <td data-label="RETIRO">{{t.retiro}}</td>
            <td data-label="ABONO">{{t.Abono}}</td>

            <td data-label="ESTADO CAPITAL" style="color:red">
                {% if t.estadoCapital %}
                {{t.estadoCapital}}
                {% else %}
                {{t.estadoCap}}
                {% endif %}
            </td> 
            <td data-label="DETALLE">{{t.descripcion}}</td>
            <td data-label="FECHA">{{t.fecha}}</td>
            <td data-label="TAREAS">
               <button><a class="btntabla" href="eliminarTrans/{{t.id_t}}">ELIMINAR</a></button>
               <button><a class="btntabla" href="editaOperacion/{{t.id_t}}">EDITAR</a></button>
            </td>
            </tr>
        </form>
            {% endfor %}
        </tbody>
        </table>
 
</div>
{% endblock  %}