{% extends "encabezado.html" %}
{% block contenido %}
<div class='contentabla'>
    <table>
        <tr>
            <th>Nro</th>
            <th>DESCRIPCION</th>
            <th>CANTIDAD</th>
            <th>COSTO/U</th>
            <th>TOTAL</th>
            <th>ORIGEN CAPITAL</th>    
            <th>CAPITAL</th>
            <th>MONTO PAGADO</th>
            <th>ESTADO CAPITAL</th>
            <th>SALDO EN CHEQUERA</th>
        </tr>
            {% for c in compras %}
            <tr>
            <td>{{forloop.counter}}</td>
            <td>{{c.descripcion}}</td>
            <td>{{c.cantidad}}</td>
            <td>{{c.precio_unitario}}</td>
            <td>{{c.subtotal}}</td>
            <td>{{c.origen}}</td>
            <td>{{c.id_cuenta.capital}}</td>
            <td>{{c.montopagado}}</td>
            <td></td>
            <td></td>       
            <td>
                <input onclick="modificarform()" type="submit" value="MODIFICAR">
                <input onclick="eliminarform()" type="submit" value="ELIMINAR">
            </td>
            </tr>
        </form>
            {% endfor %}
    </table>
</div>
{% endblock  %}